# directories
.coverage_artifacts
.coverage_cache
.coverage_contracts
artifacts
build
cache/*
coverage
dist
node_modules
deployments
typechain
cache
.blackwhale
temp
markups

# files
*.env
*.log
.DS_Store
coverage.json
package-lock.json
yarn.lock
